body {
    background-image: url('images/background-christmas.png');
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}